intranet_home:
    path:      /
    defaults: { _controller: IntranetBundle:Matiere:index }

matiere_subscribe:
    path: /suscribe/{id}
    defaults: { _controller: IntranetBundle:Matiere:subscribe }

matiere_list:
    path: /matieres/list
    defaults: { _controller: IntranetBundle:Matiere:viewList }

student_list :
    path: /matieres/list/{id}/student/
    defaults: { _controller: IntranetBundle:Matiere:listStudent }

teacher_list :
    path: admin/matieres/list/{id}/teachers/
    defaults: { _controller: IntranetBundle:Matiere:viewTeachers}

intranet_view:
    path:      /matiere/{id}
    defaults: { _controller: IntranetBundle:Matiere:view }
    requirements:
        id: \d+

intranet_view_list:
    path:      /matiere
    defaults: { _controller: IntranetBundle:Matiere:list }

intranet_add:
    path:      admin/add
    defaults: { _controller: IntranetBundle:Matiere:add }

intranet_edit:
    path:      admin/edit/{id}
    defaults: { _controller: IntranetBundle:Matiere:edit }
    requirements:
        id: \d+

intranet_delete:
    path:      admin/delete/{id}
    defaults: { _controller: IntranetBundle:Matiere:delete }
    requirements:
        id: \d+

note_home:
    path:      note/list
    defaults: { _controller: IntranetBundle:Note:index }

note_view:
    path:      note/{id}
    defaults: { _controller: IntranetBundle:Note:view }

note_add:
    path:      /matieres/list/{id}/student/teacher/note/add/{username}
    defaults: { _controller: IntranetBundle:Note:add }

note_edit:
    path:      teacher/note/edit/{id}
    defaults: { _controller: IntranetBundle:Note:edit }
    requirements:
        id: \d+

note_delete:
    path:      admin/note/delete/{id}
    defaults: { _controller: IntranetBundle:Note:delete }
    requirements:
        id: \d+
