{% extends "IntranetBundle::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block intranet_body %}

  <h2>Liste des inscrits</h2>

  <ul>
    {% for user in listStudent %}
      <li>
        <a href="{{ path('note_add', {'id': id, 'username': user.username }) }}">
          {{ user.username }}
        </a>
      </li>
    {% else %}
      <li>Pas (encore !) d'inscrits</li>
    {% endfor %}
  </ul>

{% endblock %}
