{% extends "IntranetBundle::base.html.twig" %}

{% block title %}
  Matières - {{ parent() }}
{% endblock %}

{% block intranet_body %}

  <h2>{{ matiere.title }}</h2>
  <p>
    Vous êtes bien inscrit 
  </p>
{% endblock %}
